<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Chatbot</title>
    <link rel="stylesheet" href="/css/chatbot.css">
</head>
<body>
    <div id="chatbot-container">
        <div id="chatbot-icon">
          <img src="/images/Medico.jpg" alt="Chatbot">
        </div>
        <div id="chatbox">
          <div id="chat-header">Medico Chatbot</div>
          <div id="chat-content"></div>
          <input type="text" id="chat-input" placeholder="Type a message...">
        </div>
      </div>

    <script src="/js/script.js"></script>
</body>
</html>
